@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

@keyframes scroll-fast {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-100% / 2));
  }
}

.animate-scroll {
  animation: scroll 20s linear infinite;
}

.animate-scroll-fast {
  animation: scroll-fast 15s linear infinite;
  width: fit-content;
}
